/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/*------------------------------------------------------*/
/* STYLES OF SIGN UP*/
/*------------------------------------------------------*/

.containerSignup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2Signup {
    margin-top: 1rem;
}

.formSignup input {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
}

.buttonSignup {
    margin-top: 1rem;
}

/*------------------------------------------------------*/
/* STYLES OF LOGIN*/
/*------------------------------------------------------*/

.containerLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h2Login {
    margin-top: 1rem;
}

.formLogin input {
    width: 100%;
    padding: 8px;
    margin-bottom: 1rem;
}

.buttonLogin {
    margin-top: 1rem;
}

/*------------------------------------------------------*/
/* STYLES OF PRIVATE*/
/*------------------------------------------------------*/

.containerPrivate {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

.buttonPrivate {
    display: flex;
    justify-content: end;
    margin-top: 1rem;
}